@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white !important;
}

.navbar_text {
  font-family: "Bebas Neue", sans-serif;
}

.desc_text {
  font-family: "Montserrat", sans-serif;
}

input:focus {
  text-decoration: none;
  outline: none !important;
}

.dashboard_img {
  transition: transform 0.2s linear;
  cursor: pointer;
}
